html
    body
        h1 Cidade
        form(action="/musica", method="get")
            label Nome:
            input(type="text", name="city")
            button(type="submit") Enviar
        //h1 Lista de clientes
        //ul
        //    each cliente, i in clientes
        //        li #{cliente.nome} - #{cliente.idade}
        //            a(href="/cliente/#{i}/editar") Editar
        //            a(href="/cliente/#{i}") Excluir